@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is made for changing played Notes of a Piano Tutorial to written notes on a sheet of paper.</p>
